# Ignora mediul virtual
venv

# Ignora cache-ul si fisierele temporare
__pycache__/
*.pyc 
*.pyo 

# Ignora fisierele de configurare ale sistemului
.DS_Store

# Ignora Datasetul
app/train
app/test
app/backup

# Secret information
.env